.swagger-ui .wrapper {
  max-width: 100% !important;
  padding: 0 !important;
}

.swagger-ui .scheme-container {
  display: none !important;
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
  background-color: #2a71a5 !important;
}